h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #202021;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #06080a;
    background-color: #ffffff;
  }
  a:hover {
    color: #0c0d0e;
  }
  button {
    background-color: #f9f9f9;
  }
}

.contact{
  text-align: center;
  
  }

  .caption{
font-weight: lighter;  }
  
  .input-correo{
    width: 50rem;
    margin-bottom: 2rem;
   

  }
  
  .description{
    height: 10rem;
    width: 50rem;
    border-radius: 1rem;

  }

  button{
    background-color: #560090;
    color: white;
  }

  .cake{
    width: 15rem;
  }


  nav{
    font-size: 18px;
    background-color: rgb(235, 8, 167);
  
  }


  .slice{
    width: 2.5rem;
   
  }


.logo{
  font-size: rem;
  font-weight: bold;
  
 }
